.pio

.vscode/c_cpp_properties.json
.vscode/extensions.json
.vscode/launch.json
# ESTE => .vscode/settings.json <= SI QUIERO SUBIRLO

.history
*.log

esp_idf_components/
build/
bin/
tmp/

sdkconfig.*

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
.project

*.tmp
*.bak
*.swp
# CDT-specific (C/C++ Development Tooling)
.cproject

*.pyc
*.bin
*.7z

*.*~
